<% include partials/header %>

<p><%= campground.name %></p>

<img src="<%= campground.image %>">

<p><%=campground.description%></p>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <%console.log("Found comment: " + comment.author)%>
        <strong><%= comment.author %></strong> - <%= comment.text%> 
    </p>
<% }) %>
<% include partials/footer %>